.container {
    margin-top: 5%;
}

.sub-container {
    display: inline-block;
    margin: 0 auto 10px auto;
    position: relative;
    height: 40px;
    width: 100%;
}

#form-div {
    margin: auto;
    width: 50%;
}

.label-div {
    display: inline-block;
    position: relative;
    text-align: right;
    width: 28%;
    padding: 5px 0;
}

.label-div .dotted{
    border-bottom: dotted blue 1px;
}

.label-subdiv {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    border-bottom: dotted black 1px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    right: 0;
    bottom: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

label,
button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: blue;
}

.upload-file,
.upload-string,
select {
    text-align: left;
    display: inline-block;
    position: relative;
    float: right;
    padding: 13px 10px;
    width: 70%;
    height: 100%;
    background-color: aqua;
    -webkit-transition: background-color 0.5s;
    /* Safari */
    transition: background-color 0.5s;
    border: solid blue 2px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: blue;
    box-sizing: border-box;
}

select {
    font-size: 16px;
    padding: 0 10px;
}

.upload-file:hover,
button:hover,
.upload-string:hover,
select:hover {
    background-color: GhostWhite;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #77F;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: blue;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: blue;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: blue;
}

.btn-container {
    margin: 4% auto;
    width: 10%;
}

button {
    position: absolute;
    height: 60px;
    width: 10%;
    min-width: 150px;
    background-color: DodgerBlue;
    color: Blue;
    border: solid blue 2px;
    border-radius: 8px;
    -webkit-transition: background-color 0.5s;
    /* Safari */
    transition: background-color 0.5s;
}

.heading,
.description {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.heading {
    font-size: 48px;
    margin: 5% auto 2% auto;
    text-align: center;
}

.description {
    font-size: 26px;
    text-align: center;
    margin-bottom: 2%;
}

.progress-label {
    text-align: center;
    line-height: 30px;
    color: Navy;
    font-weight: bold;
}

.progress-bar {
    position: relative;
    width: 50%;
    margin: auto;
    height: 30px;
    background-color: white;
    border: solid blue 3px;
    border-radius: 4px;
    display: none;
}

.progress-bar-box {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: RoyalBlue;
    transition: width 0.1s;
    text-align: right;
    line-height: 30px;
    color: Navy;
    font-weight: bold;
}

.error,
.result {
    width: 30%;
    left: 35%;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
}

.error {
    border-color: #FF4040;
}

.result {
    border-color: green;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 16px;
    background-color: RoyalBlue;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    top:40%;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -100%; opacity: 0} 
    to {top: 40%; opacity: 1}
}

@keyframes animatetop {
    from {top: -100%; opacity: 0}
    to {top: 40%; opacity: 1}
}

/* The Close Icon */
.close {
    color: #aaa;
    float: right;
    font-size: 24px;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}