.container {
    margin-top: 5%;
}

.sub-container {
    display: inline-block;
    margin: 0 auto 10px auto;
    position: relative;
    height: 40px;
    width: 100%;
}

#form-div {
    margin: auto;
    width: 50%;
}

.label-div {
    display: inline-block;
    position: relative;
    text-align: right;
    width: 28%;
    padding: 5px 0;
}

.label-div .dotted{
    border-bottom: dotted blue 1px;
}

.label-subdiv {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

label,
button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: blue;
}

.upload-file,
.upload-string,
select {
    text-align: left;
    display: inline-block;
    position: relative;
    float: right;
    padding: 13px 10px;
    width: 70%;
    height: 100%;
    background-color: aqua;
    -webkit-transition: background-color 0.5s;
    /* Safari */
    transition: background-color 0.5s;
    border: solid blue 2px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: blue;
    box-sizing: border-box;
}

select {
    font-size: 16px;
    padding: 0 10px;
}

.upload-file:hover,
button:hover,
.upload-string:hover,
select:hover {
    background-color: GhostWhite;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #77F;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: blue;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: blue;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: blue;
}

.btn-container {
    margin: 4% auto;
    width: 10%;
}

button {
    position: absolute;
    height: 60px;
    width: 10%;
    min-width: 150px;
    background-color: DodgerBlue;
    color: Blue;
    border: solid blue 2px;
    border-radius: 8px;
    -webkit-transition: background-color 0.5s;
    /* Safari */
    transition: background-color 0.5s;
}

.heading,
.description {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.heading {
    font-size: 48px;
    margin: 5% auto 2% auto;
    text-align: center;
}

.description {
    font-size: 26px;
    text-align: center;
    margin-bottom: 2%;
}

.error,
.result {
    width: 30%;
    left: 35%;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
}

.error {
    border-color: #FF4040;
}

.result {
    border-color: green;
}